<h1 class="items-center flex flex-col uppercase tracking-wide text-black text-4xl font-bold mb-2 ">
  <img class="mb-8" src="images/pngaaa.com-99898.png" alt="Slytherin logo" width="100" height="100" />
  Parseltongue Translator
</h1>