<div>
    <h1 class="items-center flex flex-col uppercase tracking-wide text-black text-4xl font-bold mb-2">The Chamber of
        Secrets:</h1><br>

    <a class="border-2 p-2 flex flex-col mb-4" href="/">Translate another thing</a><br>
    <br>

    {{#each history}}
    <h1>{{name}}</h1><br>
    <p>{{message}}</p><br>
    {{/each}}
</div>