<div class="bg-gradient-to-r from-green-700 to-green-500 ...">
  <div class="space-y-4 ...">

    <h1 class="uppercase tracking-wide text-black text-4xl font-bold mb-2">Welcome</h1>
    {{!-- name input box --}}
    <span class="block ...">
      <form class="md:w-1/2 px-3 mb-6 md:mb-0" action="/" method="post">
        <div class="flex flex-col mb-4">
          <label class="uppercase tracking-wide text-black text-lg font-bold mb-2" for="name">Name:</label><br>
          <br><input class="border py-2 px-3 text-grey-darkest" type="text" id="name" name="name" maxlength="100"><br>
        </div><br>

    </span>

    {{!-- translation input box --}}
    <span class="block ...">

      <div class="flex flex-col mb-4">
        <label class="uppercase tracking-wide text-black text-lg font-bold mb-2" for="translate">What would you like to
          translate?</label><br>
        <br><input class="border py-2 px-3 text-grey-darkest" type="text" id="translate" name="translate"
          maxlength="500"><br>
      </div><br>

    </span>

    {{!-- character drop down list --}}

    <span class="block ...">
      <label class="uppercase tracking-wide text-black text-lg font-bold mb-2" for="characters">Choose a
        character:</label><br>
      <select name="characters" id="characters">
        <option class="uppercase tracking-wide text-black text-lg font-bold mb-2" value="snape">Snape</option><br>
        {{!-- <option value="hermione">Hermione</option>
  <option value="filch">Filch</option> --}}
      </select><br>
    </span>

    {{!-- submit button --}}
    <br><button
      class="uppercase tracking-wide text-black text-lg font-bold mb-2... focus:ring-4 focus:ring-green-500 focus:ring-opacity-50 ">
      Submit
    </button>
  </div>
  </form>
</div>