<div class="px-20 py-10 ">
  <div class="header space-y-4 items-center flex flex-col">
    <h1 class="items-center flex flex-col uppercase tracking-wide text-black text-4xl font-bold mb-2 ">
      <img class="mb-8" src="images/pngaaa.com-99898.png" alt="Slytherin logo" width="100" height="100" />
      Parseltongue Translator</h1>

    {{!-- name input box --}}
    <span class="block">
      <form class="min-w-full md:w-1/2 px-3 mb-6 md:mb-0 " action="/" method="post">
        <div class="flex flex-col mb-4">
          <label class="text-center uppercase tracking-wide text-gray-300 text-lg font-bold mb-2"
            for="name">Name:</label>
          <br><input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" type="text"
            id="name" name="name" maxlength="100" placeholder='Your name'><br>
        </div><br>
    </span>

    {{!-- translation input box --}}
    <span class="block ...">
      <div class="flex flex-col mb-4">
        <label class="text-center uppercase tracking-wide text-gray-300 text-lg font-bold mb-2" for="translate">What
          would you like to
          translate?</label>
        <br><input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-14 px-2 mb-3" type="text"
          id="translate" name="translate" maxlength="500" placeholder='Your text to translate'><br>
      </div><br>
    </span>

    {{!-- character drop down list --}}

    <span class="block ...">
      <div class="flex flex-col mb-4">
        <label class="uppercase tracking-wide text-gray-300 text-lg font-bold mb-2" for="characters">Choose a
          character:</label>
        <select name="characters" id="characters">
          <option class="tracking-wide text-black text-sm font-bold mb-2" value="snape.jpg">Snape</option><br>
          <option class="tracking-wide text-black text-sm font-bold mb-2" value="hermione">Bellatrix</option>
          <option class="tracking-wide text-black text-sm font-bold mb-2" value="filch">Draco</option>
          <option class="tracking-wide text-black text-sm font-bold mb-2" value="lordVol">Lord Voldemort</option>
        </select><br>
      </div>
    </span>

    {{!-- submit button --}}
    <br>
    <div class="flex flex-col mb-4"><button class="border-2 uppercase tracking-wide text-gray-300 text-lg font-bold mb-2">
        Submit
      </button>
    </div>
  </div>
  </form>
</div>