<main>
  <section class="flex flex-col">
    <div class="flex">
      <div class="ml-auto mx-4 mt-4 border-4 border-black rounded-lg justify-self-end self-end"
        style="min-width: 200px; min-height:200px;">
      </div>
    </div>
    <div>
      <div
        class="transform w-10 h-10 border-4 border-black rotate-45 float-right bg-white border-l-0 border-t-0 rounded"
        style="margin-right: 50px; margin-top: -1.35rem;"></div>
    </div>
  </section>
</main>