<h1 class="text-center text-4xl">SOME TITLE</h1>
<main class="flex justify-center">
  <section class="flex flex-col" style="max-width: 600px;">
    <div class=" flex pl-8 w-auto">
      <div
        class="ml-auto mx-8 mt-4 border-4 border-black rounded-lg justify-self-end self-end flex justify-center items-center w-auto"
        style="min-width: 200px; min-height:200px;">
        <p class="ml-2">{{message}} </p>
      </div>
    </div>
    <div>
      <div
        class="transform w-10 h-10 mr-16 border-4 border-black rotate-45 float-right bg-white border-l-0 border-t-0 rounded"
        style=" margin-top: -1.35rem;"></div>
    </div>
    <figure class="flex">
      <img src="/images/snape.jpg" class="rounded-full mx-4 w-48 h-48 ml-auto" alt="">
    </figure>
    <nav class="flex justify-end justify-around mt-10">
      <a href="/">HOME</a>
    </nav>
  </section>
</main>