{{>header}}
{{!-- <h1 class="text-center text-4xl text-white">HELLO {{name}}</h1> --}}
<main class="flex justify-center">
  <section class="flex flex-col" style="max-width: 600px;">
    <div class="">
      <div class=" flex pl-8 w-auto">
        <div
          class="ml-auto mx-8 px-2 mt-4 border-4 border-white rounded-lg justify-self-end self-end flex justify-center items-center w-auto bg-black"
          style="min-width: 200px; min-height:200px;">
          <p class="text-white">Hello {{name}},<br> <br> {{message}} </p>

        </div>
      </div>
      <div>
        <div
          class="transform w-10 h-10 mr-16 border-4 border-white rotate-45 float-right bg-black border-l-0 border-t-0 rounded"
          style=" margin-top: -1.35rem;"></div>
      </div>
    </div>
    <figure class="flex">
      <img src="/images/{{imgUrl}}" class="rounded-full mx-4 w-48 h-48 ml-auto" alt="">
    </figure>
    <nav class="flex justify-end justify-around mt-10">
      <a class="border-2 px-2 uppercase tracking-wide text-gray-300 text-lg font-bold mb-2" href="/">HOME</a>
      <a class="border-2 px-2 uppercase tracking-wide text-gray-300 text-lg font-bold mb-2" href="/history">HISTORY</a>
    </nav>
  </section>
</main>